*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: sans-serif;
}

body{
	background-color: rgb(238,238,238);
}

header{
	display: flex;
	padding: 35px;

}

h1{
	font-weight: normal;
	color: rgb(49,125,174);
}

.header_text{
	margin-left: 75px;
}

.logo{
	width: 67px;
	height: 25px;
	background: url("product-common-sprite.png");
	background-repeat: no-repeat;
	position: 0 0;
}

.menu{
	margin-left: 20px;
	border: 1px solid lightgrey;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 150px;
}

.menu ul{
	list-style-type: none;
}

.header{
	padding: 5px 0 5px 0;
	background-color: rgb(49,125,174);
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.last{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.btn{
	padding: 5px 0 5px 0;
	background-color: white;
	width: 150px;
	color: grey;
}

.header span{
	margin-left: 3px;
}

.btn span{
	margin-left: 5px;
}

.btn:hover{
	cursor: pointer;
	background-color: lightgrey;
}

.margintop{
	margin-top: 15px;
}

.blue{
	color: rgb(49,125,174);
}

article{
	border-radius: 5px;
	border: 1px solid lightgrey;
	margin-left: 30px;
	padding: 10px;
	background-color: white;
	width: 600px;
}


main{
	display: flex;
}

fieldset{
	padding: 15px;
	border: 1px solid #8c1c1a;
	border-radius: 5px;
}

.block {
    display: inline-block;
    margin: 0 20px;
}
 
input,
label,select {
    display: block;
}

label{
	margin-top: 3px;
	margin-bottom: 5px;
}

.pls_txt{
	margin-top: 5px;
	margin-bottom: 15px;
}

legend{
	color: grey;
}

.inline{
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.inline2{
	display: flex;
}

.pet{
 	margin: 0 5px;
 }

textarea{
	height: 70px;
}

.lbtn{
	margin: 5px;
}