body{
	background-color: yellow;
}

span{
	color: blue;
}

h1{
	color:red; 
	text-align: center; 
	font-family: Arial;
}

div{
	margin: 0 auto; 
	background-color: white; 
	width: 600px; 
	padding: 20px; 
	font-family: Arial;
}

.red{
	color: red;
	font-weight: bold;
}

.blue{
	color: blue;
	font-style: italic;
}