*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

button{
	cursor: pointer;
	background: linear-gradient(0deg, #f25e2e,#f7941e);
	border: none;
}

button:hover{
	background: linear-gradient(180deg, #f25e2e,#f7941e);
}

ul{
	list-style-type: none;
	font-family: 'PT Sans', sans-serif;
}

a:visited{
	color: black;
}

a:active{
	color: black;
}

a:hover{
	color: orange;
	border-bottom: 1px solid orange;
}

.right_button{
	margin: 0 25px;
	color: grey;
	display: flex;
	background: none;
}

.right_button:hover{
	background: none;
	border-bottom: 2px solid orange;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

header{
	z-index: 1000;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	height: 50px;
	-webkit-box-shadow: 0px 0px 19px 1px rgba(158,158,158,1);
	-moz-box-shadow: 0px 0px 19px 1px rgba(158,158,158,1);
	box-shadow: 0px 0px 19px 1px rgba(158,158,158,1);
}

.header_content{
	max-width: 1280px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.catalog_b img{
	position: relative;
	top: 2px;
	left: 25px;
}

.catalog_b{
	padding: 10px 40px 10px 30px;
	margin-top: 6px;
	margin-left: 5px;
	color: white;
	font-family: Arial; 
	border-radius: 5px;
}

.search_b{
	padding: 10px 25px 10px 25px;
	color: white;
	font-family: Arial; 
	margin-left: -5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.search{
	height: 33px;
	width: 500px;
	margin-left: 20px;
	padding-left: 15px;
	border: 1px solid lightgrey;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.right_header{
	display: flex;
	justify-content: space-between;
}

.right_header p{
	margin-top: 8px;
	margin-left: 15px;
}

.main{
	margin: 0 auto;
	max-width: 1280px;
	margin-top: 60px;
}

h1{
	text-transform: uppercase;
	font-family: Arial;
	font-size: 28px;
}

.kernel{
	width: 400px;
	display: flex;
	justify-content: space-between;
}

.kernel a{
	color: grey;
	font-family: Arial;
	font-size: 12px;
	border-bottom: 1px grey solid;
}

.kernel a:hover{
	color: orange;
	border-bottom: 1px orange solid;
}

.product{
	border: 1px lightgrey solid;
	width: 810px; 
	height: 250px;
	display: flex;
}

.col{
	width: 270px;
}

.image_col{
	display: flex;
	align-items: center;
}

.col img{
	width: 270px;
}

.stars img{
	width: 15px;
	height: 15px;
}

.stars{
	height: 40px;
	display: flex;
	align-items: center;
}

.product_name{
	font-family: Verdana;
	font-size: 14px;
	border-bottom: 1px orange solid;
	cursor: pointer;
}

.product_name:hover{
	border-bottom: 2px orange solid;
}

.description{
	margin-top: 7px;
	font-family: Verdana;
	font-size: 12px;
}
.description_text{
	margin: 15px 0;
}

.bold{
	font-weight: bold;
}

.price{
	margin-top: 40px;
	font-weight: bold;
	font-family: Arial;
	font-size: 24px;
}

.rub{
	font-weight: normal;
	font-size: 18px;
}

.buy{
	margin-left: 50px;
}

.buy_btn{
	margin-top: 5px;
	padding: 10px 35px;
	color: white;
	border-radius: 5px;
}

.send_info{
	margin-top: 10px;
	font-family: Arial;
	font-size: 12px;
}

.nofirst{
	margin-top: -1px;
}

footer{
	background-color: #dfe4e8;
	height: 500px;
	margin-top: 150px;
}

.free{
	font-family: Arial;
	background-color: rgb(169,207,70);
	position: relative;
	right: 190px;
	top: 90px;
	font-size: 14px;
	text-align: center;
	padding: 5px;
}

.free p{
	margin: 0 10px;
}

.flex_footer{
	display: flex;
}

h3{
	font-family: 'PT Sans', sans-serif;
	color: #8295a3;
	font-size: 22px;
}

.fcol{
	margin-top: 50px;
	width: 200px;
}

.fcol ul li{
	margin: 5px 0;
}

li a{
	font-size: 14px;
}

.services{
	display: flex;
	flex-wrap: wrap;
	width: 190px;
	height: 200px;
}

.pay{
	margin: 5px;
	background-color: red;
	width: 50px;
	height: 50px;
}

.visa{ background: url(img/visa.png); }
.ymoney{ background: url(img/yandex.png); }
.qiwi{ background: url(img/qiwi.png); }
.nal{ background: url(img/nal.png); }
.bank{ background: url(img/bank.png); }
.wm{ background: url(img/wm.png); }
.btc{ background: url(img/btc.png); }
.eth{ background: url(img/eth.png); }
.gram{ background: url(img/gram.png); }

.bottom{
	width: 500px;
	text-align: center;
	margin: 0 auto;
	margin-top: 160px;
	font-family: 'PT Sans', sans-serif;
}

.kernel_tovar a, .kernel_tovar span{
	font-family: 'PT Sans', sans-serif;
	color: #2f9cc6;
}

.kernel_tovar a{
	border-bottom: 1px solid #2f9cc6;
}

.kernel_tovar a:hover{
	color: orange;
	border-bottom: 1px solid orange;
}

.main_t{
	margin-top: 70px;
}

.name_tov{
	margin-top: 30px;
	font-family: 'PT Sans', sans-serif;
}

.articul{
	font-family: 'PT Sans', sans-serif;
	color: grey;
	font-size: 13px;
}

.look_tovar{
	display: flex;
	height: 350px;
	width: 830px;
}

.mini{
	width: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.t_img{
	width: 500px;
	display: flex;
	align-content: center;
	align-items: center;
}

.t_img img{
	width: 100%;
}

.b_buy{
	width: 250px;
}

.mini div img{
	width: 100%;
}

.look_tovar .mini div .playpng{
	margin: 0 auto;
	width: 30px;
}

.mini div{
	display: flex;
	align-content: center;
	align-items: center;
	cursor: pointer;
	margin: 1px;
	height: 75px;
	width: 75px;
}

.column_flex{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.column_flex p{
	font-family: 'PT Sans', sans-serif;
}

.mini div:hover{
	background-color: rgba(196, 196, 196, 0.4);
	border-radius: 5px;
}

.buy_block{
	border: 1px solid lightgrey;
	height: 280px;
}

.buy_block .price{
	margin-left: 20px;
	font-size: 28px;
}

.btns_buy{
	width: 230px;
	margin: 0 auto;
	margin-top: 30px;
}

.btns_buy button{
	color: white;
	font-family: 'PT Sans', sans-serif;
	padding: 15px 0;
	width: 100%;
	font-size: 18px;
	margin: 0 auto;
	border-radius: 5px;
}

.btns_buy .buy_credit{
	font-size: 11px;
	padding: 17px 0;	
	width: 100%;
	margin-top: 10px;
	background: linear-gradient(0deg, #7B8586,#7B8586);
}

.btns_buy .buy_credit:hover{
	background: linear-gradient(0deg, #AAAFB3,#AAAFB3);
}

.product_page_hr{
	width: 830px;
	background-color: lightgrey;
}