*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html,body{
	height: 100%;
}

body{
	background: repeating-linear-gradient(
	  -45deg,
	  #ffffff,
	  #ffffff 2px,
	  #dbdbdb 2px,
	  #dbdbdb 4px
	);
}

.main{
	height: 100%;
	width: auto;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.main div{
	text-align: center;
	font-family: Arial;
	margin: 15px 0;
}

.date, .place{
	font-size: 24px;
}

.name{
	font-size: 28px;
	text-transform: uppercase;
}

.buttons{
	display: inline-block;
}

.myButton {
	margin: 0 15px;
	background-color:#cce7f4;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:2px solid #bababa;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:18px;
	padding:5px 20px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#a3dbf0;
}
.myButton:active {
	position:relative;
	top:1px;
}

