*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.main{
	width: 743px;
	height: 762px;
	margin: 0 auto;
	padding: 6px 4px 5px 4px;
}

.header{
	background-color: rgb(51,153,103);
	width: 579px;
	height: 70px;
	text-align: center;
}

h1{
	color: rgb(248,254,34);
	font-size: 22px;
	font-weight: bold;
	font-family: Sans-serif;
}

h2{
	padding-top: 10px;
	text-align: center;
	font-size: 20px;
	font-family: Arial;
}

p{
	margin: 15px 0;
	font-size: 16px;
	text-align: justify;
	padding: 0 5px 0 5px;
	line-height: 1.2;
}

.txt{
	padding-top: 1px;
}

.header div{
	    padding: 8px;
}

.text{
	background-color: rgb(205,255,204);
	margin-top: 4px;
	height: 629px;
	width: 579px;
}

.left{
	float: left;
}
.right{
	background-color: rgb(0,128,1);
	float: right;
	width: 160px;
	height: 703px;
	box-shadow: 
}

.right img{
	margin-top: 8px;
	margin-left: 16px;
}

.footer{
	margin-top: 707px;
	background-color: rgb(204,255,204);
	height: 55px;

}

nav{
	padding-top: 5px;
	text-align: center;
}

nav a{
		color: rgb(48,126,27);
		font-family: Arial;
		font-size: 13px;
		font-weight: bold;
		text-decoration: underline;
}

ul{
	margin-left: 20px;
}