*{
	margin:	0;
	padding: 0;
}

body{
	background: url(bg-illu4.jpg);
}

.main{
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.row{
	display: flex;
	justify-content: center;
}

.block{
	width: 200px;
	height: 200px;
	text-align: center;

}

.bold{
	font-weight: bold;
}

.text{
	color: white;
	font-family: Verdana;
	font-size: 28px;
	display: block;
	margin-top: 25px;

}

.text_logo p{
	color: rgb(188,185,170);
	font-family: Verdana;
	font-size: 16px;
}

.block img{
	width: 100%;
}

.pink{
	background-color: #880088;
}

.blue{
	background-color: #000088;
}

.red{
	background-color: #880000;
}

.pink:hover{
	background-color: #884488;
}

.blue:hover{
	background-color: #444488;
}

.red:hover{
	background-color: #884444;
}

@media screen and (max-width: 600px){
	body{
	background: url(bg-illu1.jpg);
	}

	.hide{display: none;}

	.text_logo{
		display: none;
	}

	.row{
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
	}

	.block img{
		width: auto;
		height: 170%;
		margin-top: -18px;
	}

	.block{
		width: 500px;
		height: 50px;
		justify-content: center;
		padding-top: 15px;
	}

	.logo_block{
		padding: 0;
	}

	.block{
		margin: 10px 0;
	}

	.text{
		font-size: 24px;
		margin-top: 0;
	}




}